html {
  background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  font-family: 'Space Mono', monospace;
  color: white;
}
.App {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.navLink {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-family: 'Space Mono', monospace;

}
.navLink:hover {
  color: red
}
.footer{
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-family: 'Space Mono', monospace;
}
.header{
  background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/web_first_images_release.png');
  font-family: 'Space Mono', monospace;
  background-size: cover;
  color: #FC3D21;
  position:relative;
  top: -30px;
  box-shadow: 3px 3px 3px black;
  text-shadow: 3px 3px 3px black;
}
.image-container {
  margin: 30px;
  display: flex;
  columns: 2;
  justify-content: space-evenly;
}