html {
  background-color: darkslateblue;
  font-family: 'Space Mono', monospace;
}
.App {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}
.navLink {
  text-decoration: none;
  color: blue;
  font-weight: bolder;
  font-family: 'Space Mono', monospace;

}
.navLink:hover {
  color: red
}
.footer{
  bottom: 0;
  width: 100%;
  height: 2rem;
  font-family: 'Space Mono', monospace;
  
}
.header{
  background-color: darkgray;
  font-family: 'Space Mono', monospace;
}
.image-container {
  margin: 30px;
  display: flex;
  columns: 2;
  justify-content: space-evenly;
}